
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


$blue: #014873;
$yellow:#F9B233;
$brown1:#333332;
$brown2:#4F4F4F;
$brown3:#DFDADA;
$brown4: #FAFAFA;
$white: #FFFFFF;

//$primary:       $blue !default;
$secondary:       $yellow;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
$dark:          $brown1;

$Montserrat: 'Montserrat', sans-serif;
$Nunito: 'Nunito', sans-serif;
