.proyecto {
  section {
    overflow: unset;
  }

  .img-content {
    img{
      width: 100%;
      height: 100%;
    }
  }

  .stick {
    position: sticky !important;
    top: 70px;
  }
  .texto {
      color: $blue;
      font-style: $Nunito;
      font-size: 18px;
      font-weight: 600;
  }
  .img-content .btn{
    background-color: $white;
    color: gray;
  }
  .btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    i{
      line-height: 30px;
      font-size: 20px;
    }
  }
}
