footer {
  .container {
    .row {
      width: 100%;
    }
  }
  .text-right {
    .navbar-nav{
        justify-content: flex-end;
    }   
  }
  @include media-breakpoint-down(sm) {
    .navbar-nav{
      justify-content: center !important;
    }
  }
}
