.home {
  //Generales


  //SECTION #1
  #first {
    .elipse {
      position: relative;
      margin-bottom: 1em;
      &::before {
        content: "";
        border-radius: 50%;
        width: 90%;
        padding-top: 90%;
        position: absolute;
        background-color: $blue;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        z-index: -1;
        display: block;
      }
      @include media-breakpoint-down(sm) {
        &::before {
          position: relative;
        }
        .img-fluid{
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          top: 0;
          margin: auto;
        }
      }
    }
  }
  //SECTION #2

  #second {
    .minis {
      .col-6 {
        padding: 10px 10px 10px 10px;
      }

      .subtitulo {
        line-height: 17, 07px;
        font-weight: 600;
      }
    }

    .container {
      position: relative;
      &::before {
        content: "";
        background-color: $yellow;
        border-radius: 50%;
        position: absolute;
        height: 480px;
        width: 480px;
        transform: translate(-40%, 40%);
        bottom: 0;
        left: 0;
      }
    }
    .grid {
      display: grid;
      position: relative;
      &::before {
        content: "";
        padding-top: 100%;
      }
      .img {
        position: absolute;
        &:nth-child(1) {
          left: 0;
          width: 60%;
          height: 100%;
        }
        &:nth-child(2) {
          right: 0;
          width: 40%;
          padding-left: 6px;
          padding-bottom: 3px;
          height: 50%;
        }
        &:nth-child(3) {
          right: 0;
          bottom: 0;
          width: 40%;
          padding-left: 6px;
          padding-top: 3px;
          height: 50%;
        }
        img {
          height: 100%;
          width: auto;
          top: 0;
        }
        overflow: hidden;
      }
    }
  }
  //SECTION #3
  

  //SECTION #4

  #fourth {
    text-align: center;

    .img-fluid {
      object-fit: contain;
      margin-top: 10px;
    }
  }

  //SECTION #5
  #fifth {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &::before {
      content: "";
      top: 0;
      background: linear-gradient(
        75deg,
        rgba(1, 72, 115, 1) 0%,
        rgba(1, 72, 115, 1) 60%,
        rgba(125, 185, 232, 0) 50%
      );
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .row {
      &>div {
        margin: 50px;
        h3 {
          color: $white;
        }
        .btn {
          margin-top: 20px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      background-position-x: 66%;
    }
  }
}
