//padding general para todas las secciones, para mentener consistencia
section {
  padding-bottom: 100px;
  padding-top: 100px;
  overflow: hidden;
}
//CADA TITULO CON SU RESPECTIVO COLOR
h2 {
  font-family: $Montserrat;
  font-size: 13px;
  color: $yellow;
  font-weight: bold;
  line-height: 17px;
  text-transform: uppercase;
}
h3 {
  font-family: $Montserrat;
  line-height: 44px;
  font-size: 36px;
  color: $brown1;
  font-weight: bold;
  span {
    color: $yellow;
  }
}
//CADA TEXTO
body,
html {
  font-family: $Nunito;
  font-size: 14px;
}
p {
  font-weight: 400;
  line-height: 19px;
}
//CADA CATEGORIA EN COLOR $YELLOW
.category {
}
//CADA BOTON
.btn {
  border-radius: 28px;
  padding: 12px;
  border: $white;
  outline: none;
  font-family: $Montserrat;
  color: $white;
  size: 12px;
  font-weight: 700;
  &:hover {
    text-decoration: none;
  }
  &.btn-go {
    position: relative;
    //padding-right: 3.25em;
    /*&::after {
      font-family: "Font Awesome 5 Free";
      content: "\f30b";
      color: inherit;
      font-size: 2em;
      position: absolute;
      bottom: 0;
      top: 0;
      right: 12px;
      line-height: 1.65em;
    }*/
  }
}

.subtitulo {
  color: $blue;
  font-family: $Montserrat;
  font-weight: 700;
  line-height: 19.5px;
  font-size: 16px !important;
}

//REJILLAS 1
.rejilla1 {
}
//TABS 1
.tabs1 {
  .nav-item {
    .nav-link {
      border: none;
      border-bottom: solid gray;
      &.active {
        color: $yellow;
        border-bottom-color: $yellow;
      }
    }
  }
}

//formularios
.form-control {
  background-color: #f8f8f8;
  color: #4f4f4f;
}
.wpcf7-checkbox,.wpcf7-radio{
  display: block;
  max-height: 150px;
  overflow-y: auto;
  height: auto;
  .wpcf7-list-item{
    margin-left: 0;
    display: block;
    label{
      display: block;
      border-radius: .25rem;
      padding: .375rem .75rem;
      &:hover{
        background-color: #fff;
        border-color: #0297f1;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(1,72,115,.25);
      }
    }
  }
}
.wpcf7-select{
  option:first-of-type{
    display: none;
  }
}

//CARDS
.third {

padding: 50px;
  .box{
    //padding-left: 23%;
    //padding-right: 23%;
  }

  text-align: center;
  .row {
    .card {
      margin-bottom: 45px;
      width: 350px;
      height: 292px;
      img{
        width: 100%;
        object-fit: contain;
      }
      .col-3{
        border-left: 1px  solid $brown3;
      }
    }
  }

  .btn-cat {
   text-align: center;
    color: $yellow;
    font-size: 30px;
  }

  .btn-ver-proyectos {
    text-align: center;
    margin: 0px 15px 20px 15px;
  }
  
}

.minis {
    list-style-type: none;
    margin: 0;
    padding: 0;
    label {
      &::before {
        margin-right: 5px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f14a";
        color: #007aff;
      }
    }
  
}