ul.transition {
  display: flex;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  padding: 0;
  li {
    transform: scaleY(0);
    background-color: $blue;
    width: 10%;
    display: block;
    margin: 0;
  }
}

.navbar {
  .nav-item {
    .nav-link {
      padding-top: 1em;
      &.social-links {
        position: relative;
        padding-left: 16px;
        margin-left: 10px;
        &::before {
          content: "";
          border-left: solid 1px $white;
          height: 20px;
          position: absolute;
          left: 0;
        }
      }
      a {
        color: inherit;
      }
    }
  }
}

nav.navbar {
  transition-duration: 1s;
  background-color: transparent;
  
  @include media-breakpoint-down(md) {
    background-color: fade-out($blue, 0.1) !important;
    font-size: 2em;
    text-align: center;
    .nav-item {
      .nav-link {
        &.social-links {
          &::before {
            content: initial;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    background-color: $blue !important;
    font-size: 2em;
    text-align: center;
    .nav-item {
      .nav-link {
        &.social-links {
          &::before {
            content: initial;
          }
        }
      }
    }
  }
  .navbar-brand {
    padding-top: 0;
  }
}

.section-0 {
  position: relative;
  padding-top: 116px;
  h3{
    color: $white;
  }
  .container {
    z-index: 1;
    position: relative;
    color: $white;
  }
  .bg {
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &.bg-image {
      &::before,
      &::after {
        content: "";
        background: inherit;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      &::after {
        background: $blue;
        opacity: 0.5;
      }
    }
  }
}

body.scrolled {
  nav.navbar {
    background-color: fade-out($blue, 0.1) ;
  }
}
