.page.planes,
.page.branding {
  #one {
    .card-planes {
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        p {
          &::before {
            margin-right: 5px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f058";
            color: #6fcf97;
          }
        }
      }

      h3 {
        font-size: 26px;
        .fa {
          color: $yellow;
        }
      }
    }
  }
  #two {
    img {
      padding: 5px;
    }
    a {
      text-decoration: none !important;
    }

    .carta {
      width: 100%;
      height: auto;
      border: 1px solid $blue;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      position: relative;
      z-index: 0;
      transition: 1s;
    }

    .carta::before,
    .carta::after {
      position: absolute;
      background: #fff;
      z-index: -1;
      transition: 1s;
      content: "";
    }

    .carta::before {
      height: 50%;
      right: 0;
      top: -1%;
      width: 100%;
    }

    .carta::after {
      width: 50%;
      height: 100%;
      bottom: 0;
      right: -1%;
    }

    .carta:hover::before {
      width: 50%;
      background: #fff;
    }

    .carta:hover::after {
      height: 50%;
      background: #fff;
    }

    .carta:hover {
      background: #fff;
    }

    .carta2 {
      img{
        width: 100%;
      }
      &::before,
      &::after {
        position: absolute;
        background: #fff;
        z-index: -1;
        transition: 1s;
        content: "";
      }

      &::before {
        height: 50%;
        left: 0;
        bottom: -1%;
        width: 100%;
      }
  
      &::after {
        width: 50%;
        height: 100%;
        left: -1%;
        top: 0;
      }
  
      &:hover::before {
        width: 50%;
        background: #fff;
      }
  
      &:hover::after {
        height: 50%;
        background: #fff;
      }
  
      &:hover {
        background: #fff;
      }

      @include media-breakpoint-down(md) {
        img{
          width: 50%;
        }
      }
    }

    
  }
}
