.page.bienes-raices {
  .texto {
    margin: 14px 14px 14px 14px;
    p {
      color: $blue;
      font-style: $Nunito;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .tabs2 {
    .nav-tabs{
      border: 1px solid #dee2e6;
      border-radius: 4px;
      overflow: hidden;
    }
    .nav {
      .col-6 {
        padding: 0;
      }
      .nav-item {
        .nav-link {
          text-align: center;
          padding: 1rem 1rem;
          height: 50px;
          border: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          font-weight: 600;
          color: $brown2;
        }
      }

      .tri-1 {
        padding: 0 !important;
        margin: 0;
        border: none;
        .nav-link {
          &.active {
            color: $white;
            background-color: $blue;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-top: 25px solid transparent;
              border-bottom: 25px solid transparent;
              border-right: 50px solid $white;
              right: 0;
              top: 0;
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-right: 50px solid $blue;
            right: 0;
            top: 0;
          }
        }
      }
      .tri-2 {
        .nav-link {
          &.active {
            color: $white;
            background-color: $blue;
          }
        }
      }
    }

    .col-sm-4 {
      text-align: center;
      margin: auto;
      background-color: $yellow;
      color: $white;
      position: relative;
    }
  }

  .range {
    padding: 0;
    margin: 0;
  }
}
