.page.servicios, .page.tramitologia{
    #second {

        .minis {
          padding-top: 1em;
          .col-6 {
            padding: 10px 10px 10px 10px;
          }
    
          .subtitulo {
            line-height: 17, 07px;
            font-weight: 600;
          }
        }
    
        .container {
         
         
          .rej-1{
            margin: auto;
            right: 0;
            top: 0;
            
          }
          .rej-2{
            position: relative;
            margin: auto;
            right: 0;
            top: 0;
          }
          .rej-3{
            
            margin: auto;
            right: 0;
            top: 0;
          }

        }
        .grid {
          display: grid;
          position: relative;
          top: 0;
          &::before {
            content: "";
            padding-top: 100%;
          }
          .img {
            position: absolute;
            &:nth-child(1) {
              left: 0;
              width: 60%;
              height: 100%;
            }
            &:nth-child(2) {
              right: 0;
              width: 40%;
              padding-left: 6px;
              padding-bottom: 3px;
              height: 50%;
            }
            &:nth-child(3) {
              right: 0;
              bottom: 0;
              width: 40%;
              padding-left: 6px;
              padding-top: 3px;
              height: 50%;
            }
            img {
              height: 100%;
              width: auto;
              top: 0;
            }
           
          }
        }
      }

}